<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MSTest.TestAdapter" version="2.2.7" targetFramework="net48" />
  <package id="MSTest.TestFramework" version="2.2.7" targetFramework="net48" />
  <package id="OpenTK" version="3.3.3" targetFramework="net48" />
  <package id="OpenTK.GLControl" version="3.3.3" targetFramework="net48" />
  <package id="OpenTK.GLWpfControl" version="3.3.0" targetFramework="net48" />
</packages>